absl-py==1.0.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astunparse==1.6.3
attrs==21.4.0
backcall==0.2.0
beautifulsoup4==4.11.1
bigjson==1.0.8
bleach==5.0.0
boto3==1.20.32
botocore==1.23.32
Bottleneck==1.3.2
cached-property==1.5.2
cachetools==5.0.0
certifi==2020.6.20
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.10
click==8.0.3
colorama==0.4.4
cycler==0.11.0
decorator==4.4.2
defusedxml==0.7.1
duckdb==0.3.4
entrypoints==0.4
et-xmlfile==1.1.0
flatbuffers==2.0
flit_core==3.7.1
fonttools==4.25.0
gast==0.5.3
google-auth==2.6.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet==1.1.2
grpcio==1.44.0
h5py==3.6.0
idna==3.3
ijson==3.1.4
importlib-metadata==4.11.3
importlib-resources==5.7.1
ipykernel==5.3.4
ipython==7.18.1
ipython_genutils==0.2.0
ipywidgets==7.7.0
isodate==0.6.1
jedi==0.18.1
Jinja2==3.1.1
jmespath==0.10.0
jsonlines==3.0.0
jsonschema==4.4.0
jupyter-client==6.1.7
jupyter-core==4.6.3
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.0
keras==2.8.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
libclang==13.0.0
linear-tsv==1.1.0
Markdown==3.3.6
MarkupSafe==2.1.1
matplotlib==3.5.0
mistune==0.8.4
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
munkres==1.1.4
nbclient==0.5.13
nbconvert==6.4.5
nbformat==5.1.3
nest-asyncio==1.5.5
notebook==6.4.11
numexpr==2.8.1
numpy==1.21.2
oauthlib==3.2.0
olefile==0.46
openpyxl==3.0.9
opt-einsum==3.3.0
packaging==21.3
pandas==1.3.5
pandocfilters==1.5.0
parallelbar==0.1.19
parso==0.8.0
pickleshare==0.7.5
Pillow==8.4.0
pip==21.2.2
prometheus-client==0.14.1
prompt-toolkit==3.0.8
protobuf==3.19.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
Pygments==2.7.1
pymongo==3.11.0
pyparsing==3.0.4
pyrsistent==0.18.1
python-dateutil==2.8.2
pytz==2021.3
pywin32==227
pywinpty==2.0.2
pyzmq==19.0.2
requests==2.27.1
requests-oauthlib==1.3.1
rfc3986==2.0.0
rsa==4.8
s3transfer==0.5.0
scipy==1.7.3
seaborn==0.11.0
Send2Trash==1.8.0
setuptools==58.0.4
sip==4.19.13
six==1.16.0
soupsieve==2.3.1
SQLAlchemy==1.4.29
tableschema==1.20.2
tabulate==0.8.9
tabulator==1.53.5
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.0
tensorflow-hub==0.12.0
tensorflow-io-gcs-filesystem==0.24.0
termcolor==1.1.0
terminado==0.13.1
testpath==0.6.0
tf-estimator-nightly==2.8.0.dev2021122109
tornado==6.1
tqdm==4.62.3
traitlets==5.0.5
typing_extensions==4.1.1
unicodecsv==0.14.1
urllib3==1.26.8
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.3
wheel==0.37.0
widgetsnbextension==3.6.0
wincertstore==0.2
wordcloud==1.8.1
wrapt==1.13.3
xlrd==2.0.1
zipp==3.8.0
